body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-height: 100vh;
    color: #f2fff6;
}

.row{
    max-width: 100vw;
    margin: 0;
}

.side-left{
    background-color: #003c5a; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-right{
    background-color: #028598;
}

.title{
    /* color: #f3f3f3; */
    padding-top: 5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-size: 5rem;
}

.search{
    position: relative;
    text-align: center;
    padding: 2.5rem;
    margin: 0 auto;
}

.search-bar{
    width: 420px;
    height: 50px;
    border-radius: 25px;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 75px;
    /* box-shadow: 2px 6px 0 0 #aab2ef, 8px 20px 12px 0 #8495e5; */
    border: none;
    outline: none;
    background-color: #f2fff6;
}

.search .icon-search{
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #a12641;
    color: #fff;
    margin: 0 0.5em;
    padding: 12px;
    border-radius: 50%;
    border: none;
}

.search .icon-search:hover{
    cursor: pointer;
    background-color: #ab2e49;
}

.weather{

    text-align: center;
}

.icon-temp{
   display: flex;
   align-items: center;
   justify-content: center;
}

.temp{
    font-size: 2.1rem;
    padding: auto;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    /* content: "Loading..."; */
    color: #f3f3f3;
    position: absolute;
    top: 0;
}